.container {
  max-width: 272px;
  display: flex;
  flex-direction: column;
  align-items: center;

  img{
    max-height: 113px;
    height: 100%;
  }

  >h2 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 1.9rem;
    color: #000000;
    margin: 18px 0 4px;
  }

  >p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 1.7rem;
    color: #000000;
    text-align: center;
  }
}