:root {
  --background: #fff;
  --white: #fff;
  --gray: #e1e1e6;
  --green: #04d361;
  --border: #29292e;
  --background-card: #1a1a1c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  color: var(--white);
  font-size: 1.4rem;
  font-family: "Barlow Condensed", sans-serif;
  content: "";
  display: block;
  width: 100%;
  height: 655px;
  background: url("../../public/BG.png") center no-repeat;
  background-size: 100%;
}

body,
input,
textarea,
select,
button {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

input,
button,
textarea {
  border: none;
  outline: none;
}
