.sectionHeader {
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(50px);
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 2;

  .contentHeader {
    max-width: 1480px;
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      cursor: pointer;
    }

    >div {
      height: 78px;
      display: flex;
      align-items: center;

      nav {
        display: flex;
        gap: 48px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 1.6rem;
        color: #fff;

        a {
          text-align: center;
          padding: 0 5px 5px 5px;
          height: 2.7rem;

          &::first-letter {
            text-transform: capitalize;
          }

          &.active {
            position: relative;

            &::after {
              content: "";
              width: 100%;
              height: 1px;
              background: linear-gradient(269.71deg, #EB455F 29.14%, #FFB100 53.6%);
              position: absolute;
              display: block;
              bottom: 0;
              left: 0;
            }

            &:hover {
              border: unset;
            }
          }

          &:not(.active) {
            &:hover {
              border-bottom: 1px solid #fff;
            }
          }

        }
      }
    }
  }
}

@media (max-width: 650px) {
  .sectionHeader .contentHeader {
    max-height: 60px;

    .logo {
      img {
        max-width: 142px !important;
      }
    }

    >div nav {
      display: none;
    }

    .one,
    .two,
    .three {
      background: #fff;
      height: 1px;
      width: 100%;
      transition-duration: 0.3s;
    }

    .two {
      width: 80%;
    }

    .menuToggle {
      width: 24px;
      margin-right: 15px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap: 8px;
    }

    .menuSection.on {
      position: absolute;
      top: 60px;
      right: 0;
      width: 100%;
      height: 100vh;
      background: rgba(0, 0, 0, 0.4);
    }

    .menuSection.on nav {
      display: flex !important;
      gap: 0;
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 600;
      font-size: 1.4rem;
      color: #000;
      flex-direction: column;
      width: 100%;
      position: absolute;
      top: 0;
      background: #fff;
      justify-content: space-evenly;
      transition: all .2s ease-in-out;
      animation: appear-animation 0.2s linear;
      filter: drop-shadow(0px 12px 20px rgba(0, 0, 0, 0.16));

      a {
        font-size: 1.6rem;
        height: unset;
        padding: 8px;

        &.active {
          background: linear-gradient(140deg, #ffb100, #eb455f, #800eda 140%);
          color: #fff;
          &::after {
            content: unset;
          }
        }
      }
    }

    .menuSection.on .menuToggle {
      position: absolute;
      right: 17px;
      top: -30px;
    }

    .menuSection.on .menuToggle .one {
      transform: rotate(45deg) translate(-2px, 3px);
    }

    .menuSection.on .menuToggle .two {
      opacity: 0;
    }

    .menuSection.on .menuToggle .three {
      transform: rotate(-45deg) translate(10px, -15px);
    }
  }
}

@keyframes appear-animation {
  0% {
    opacity: 0;
    transform: translateY(-14%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}