.container {
  max-width: 221px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;

  >div:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;

    h2 {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 300;
      font-size: 1.4rem;
      letter-spacing: 0.335em;
      color: #000000;
    }
  }

  >div:last-child {
    text-align: center;
    >p {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 1.6rem;
      color: #000000;
      margin-bottom: 6px;
    }

    >a {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 1.6rem;
      text-decoration-line: underline;
      color: #21799E;
    }
  }
}